html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: none;
}

a {
  color: inherit;
  text-decoration: none;
}
