<div class="first">
  <div class="hero">
    <div class="nav">
      <div class="container">

        <div class="nav__content">
          <div class="nav__left">
            <span class="nav__title">Alex T Leach</span>
            <span class="nav__title__sub">Front End Web Developer</span>
          </div>
          <div class="nav__right">
            <ul class="nav__right__menu">
              <li class="nav__right__menu__item">
                <a href="#about">About</a>
              </li>
              <li class="nav__right__menu__item"><a href="#skills">Skills</a></li>
              <li class="nav__right__menu__item"><a href="#portfolio">Portfolio</a></li>
              <li class="nav__right__menu__item">Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__gradient">

    </div>
  </div>
  <div class="hero__next">
    <a href="#about">{{fa-icon "arrow-down" }}</a>
  </div>
</div>
<div id="about" class="about">
  <div class="about__box">
    <div class="about__box__1">
      <div class="about__box__1__header">Hello,</div>
      <div class="about__box__1__content">
        <p>I'm Alex. I am a web developer with a background in modern classical music publishing.</p>
        <p>As someone who enjoys the complexities and intricacies of classical music, my transition to the technology industry was a perfect fit. Writing code satisfies my two biggest passions: creatively solving problems and continually learning new things.</p>
        <p>I take great pride in building highly intuitive web apps that are both unique and responsively designed.</p>
        <p>When I'm not coding, I'm most likely tinkering with Ableton Live, building playlists in Spotify, or moving acrylic paint around on a canvas.</p>


      </div>
    </div>
    <div class="about__box__2">
      <img src="/img/AlexBW2.jpg" alt="" class="about__box__2__pic"></div>
  </div>
  <div class="hero__next skills__next">
    <a href="#skills">{{fa-icon "arrow-down" fixedWidth="true" }}</a>
  </div>
</div>
<div class="skills">
  <div class="skills__gradient">
    <div class="skills__box">
      <div class="skills__heading" id="skills">
        Skills
      </div>
      <div class="skills__content">
        <div class="skills__content__1">
          <p>{{fa-icon "cubes" fixedWidth="true"}} <strong>Web Development</strong></p>
          <p>HTML5, CSS, JavaScript, SASS, Ember-CLI, Ember Data, Bower, Node.js, NPM, Adonis, Github, PostgreSQL, Heroku, Materialize, responsive web design.</p>
        </div>
        <div class="skills__content__2">
          <p>{{fa-icon "paint-brush" fixedWidth="true"}} <strong>Web Design</strong></p>
          <p>Adobe Photoshop, Adobe Illustrator, Adobe InDesign</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio__box">
    <div class="portfolio__heading">Portfolio</div>
  </div>
  </div>
</div>
